@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

$title: 900 32px 'Montserrat', sans-serif;
$small-title: 900 16px 'Montserrat', sans-serif;
$big-text: 700 20px 'Palanquin', sans-serif;
$text: 400 16px 'Palanquin', sans-serif;
$small-text: 400 14px 'Palanquin', sans-serif;
$small-text-out: 600 12px 'Montserrat', sans-serif;
$extra-small-text-out: 600 12px 'Palanquin', sans-serif;