.mv-small-text {
    color: $light;
    font: $small-text;
}

.mv-small-text-out {
    color: $shade3;
    font: $small-text-out;
    opacity: 0.6;
    text-transform: uppercase;
}

.mv-extra-small-text-out {
    color: $primary;
    font: $extra-small-text-out;
    opacity: 0.6;
    text-transform: uppercase;
}

.mv-big-title {
    color: $light;
    font: $title;
    text-transform: uppercase;
}

.mv-text {
    color: $shade4;
    font: $text;
}

.mv-text-highlight {
    color: $primary;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.mv-small-title {
    font: $small-title;
    color: $light;
}

.mv-danger {
    color: #ff4d4f;
}